{{#meta}}
	{{#description}}<meta name="description" content="{{description}}">{{/description}}
	{{#author}}<meta name="author" content="{{author}}">{{/author}}
	{{#keywords}}<meta name="keywords" content="{{keywords}}">{{/keywords}}
	<meta name="generator" content="{{generator}}">
{{/meta}}
