@charset "UTF-8";
@import url("counters.css");
/*
 */
@media all {
	* {
		font-size: 1em;
		line-height: 1.5em;
		margin:0;
		padding:0;
		border:0;
	}
	body {
		font-family: 'Constantia', 'Georgia', Serif;
		font-size: 12pt;
		line-height: 1.5em;
	}
	ol ol, ul ul {
		margin-bottom: 0;
		padding-left: 1.5em;
	}
	ol, ul {
		padding-left: 0em;
		margin-bottom: 1.5em;
	}
	p {
		text-align: justify;
		white-space: inherit;
	}
	span.lining-figs {
		font-family: 'Cambria', 'Times New Roman', Serif;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		line-height: 1.5em;
		margin-bottom: 1.5em;
		font-size: 1em; 
	}
	p + h2, p + h3, p + h4, p + h5 {
		margin-top: 1.5em;	
	}
	h6 + p, p + h6 {
/*		position: relative; */
		margin-top:1.5em;
	}
	h6 + p {
		padding-bottom: 1.5em;
	}
	h1 {
		text-transform: capitalize;
	}
	h2 { 
		letter-spacing: 0.1em;
		font-family: 'Cambria', 'Times New Roman', Serif;
		text-transform: uppercase;
	}
	h3 { 
		font-weight:  bold; 
	}
	h4 { 
		letter-spacing: 0.1em;
		text-transform: lowercase;
		font-variant: small-caps; 
	}
	h5 { 
		font-style: italic;
	}
	h6 { 
		margin: 0;
		float: left;
		margin-right: 0.1em;
		text-transform: lowercase;
		font-variant: small-caps;
		letter-spacing: 0.1em;
	}
	abbr {
		text-transform: lowercase;
		font-variant: small-caps;
		letter-spacing: 0.1em;
	}
	hr {
		height:1.5em;
		text-align:center;
		margin:1.5em;
	}
	hr:before {
		content: "\2042";
		text-align: center;
	}
	blockquote {
		margin: 1em 0 1em 0;
		padding: 0.5em 2em 0.5em 1.5em;
		border-left: 0.5em solid #EEE8D8;
	}
	mark {
		background-color: #FFCFC7;
		opacity: 0.8;
	}
	pre {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0.5rem;
		background-color: #Fcf6e6;
		font-size: 0.8em;
		line-height: 1.5rem;
	}
	p > code {
		font-size: 0.8em;
		line-height: 1.5rem;
		background-color: #F7EfDf;
		padding-right: 0.2rem;
		padding-left: 0.2rem;
	}
	kbd, /* User input */
	kbd > kbd > samp { /* Computer generated user input (menus) */
	}
	kbd > kbd { /* Literal keypress input. */
	}
	kbd > samp { /* Computer generated user input */
	}
	samp { /* Computer output */
	}
	samp > kbd { /* Computer echoed user input (shell commands) */
	}
}
@media screen, tv, projection {
	html {
		background-color: #EEE8D8;
	}
	body {
		background-color: #FFFFF0;
		color: #333;
	}
	p + p {
		margin-top: 1.5em;
	}
	a {
		color: #999;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	body > footer {
		font-variant: small-caps;
		letter-spacing: 0.1em;
		margin-top: 2em;
		border-top: 1px solid #EEE8D8;
		padding: 1em;
		font-size:0.8em;
		text-align: center;
	}
}

@media tv, projection {
	body {
		font-size: 17px;
	}
}
@media tv and (min-width: 1280px), projection and (min-width: 1280px) {
	body {
		font-size: 34px;
	}
}
@media tv and (min-width: 1920px), projection and (min-width: 1920px) {
	body {
		font-size: 51px;
	}
}

@media print {
	html, body {
		padding:0;
		margin:0;
		width: 100%;
	}
	p {
		font-size: 12pt;
		padding:0;
		text-align: justify;
	}
	p + p {
		text-indent: 1.5em;
	}
	@page {
	
		margin-top: 11%;
		margin-bottom: 22%;
	/*
		margin-left: 1in;
		margin-right: 1in;
		padding-top: 1in;
		padding-bottom: 1in;
		font-family: Georgia, Serif;
	*/
		color: #000;
		background-color: #000;
		widows:4;
		orphans:4;
		counter-increment: page;
	}
	@page:left {
		margin-left: 22%;
		margin-right: 11%;
		@bottom-left {
			content: counter(page);
		}
	}

	@page:right {
		margin-left: 11%;
		margin-right: 22%;
		@bottom-right {
			content: counter(page);
		}
	}
	h1, h2 {
		page-break-before: right;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	a {
	}
	body > header,
	body > footer, 
	menu, nav {
		display: none;
	}
}
